[submodule "bncapi"]
	path = bncapi
	url = https://github.com/jwc20/bncapi.git
	branch = submodule
[submodule "bnc-client"]
	path = bnc-client
	url = https://github.com/jwc20/bnc-client.git
	branch = submodule
